.home {
  text-align: center;
}

.homeTitle {
  font-size: 48px;
  font-family: "Pokemon Solid";
  color: tomato;
  letter-spacing: 0.12em;
}

.homeLink {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: aliceblue;
}